root = true

[*]
charset = utf-8
end_of_line = lf
indent_size = 2
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true
ij_continuation_indent_size = 4
ij_visual_guides = 80, 100, 140

[{*.bat,*.cmd,*.ps1}]
end_of_line = crlf

[*.csv]
end_of_line = crlf

[*.gradle]
indent_size = 4
max_line_length = 140
ij_groovy_align_named_args_in_map = false
ij_groovy_block_comment_add_space = true
ij_groovy_block_comment_at_first_column = false
ij_groovy_class_count_to_use_import_on_demand = 999
ij_groovy_imports_layout = *, |, $*
ij_groovy_line_comment_add_space = true
ij_groovy_line_comment_add_space_on_reformat = true
ij_groovy_line_comment_at_first_column = false
ij_groovy_names_count_to_use_import_on_demand = 999
ij_groovy_packages_to_use_import_on_demand = unset

[*.java]
max_line_length = 100
ij_java_binary_operation_sign_on_next_line = true
ij_java_block_comment_add_space = true
ij_java_block_comment_at_first_column = false
ij_java_class_count_to_use_import_on_demand = 999
ij_java_imports_layout = $*, |, *
ij_java_line_comment_add_space = true
ij_java_line_comment_add_space_on_reformat = true
ij_java_line_comment_at_first_column = false
ij_java_names_count_to_use_import_on_demand = 999
ij_java_packages_to_use_import_on_demand = unset
ij_java_ternary_operation_signs_on_next_line = true

[*.md]
max_line_length = off

[*.properties]
ij_properties_keep_blank_lines = true

[*.xml]
ij_xml_align_attributes = false
ij_xml_attribute_wrap = off
ij_xml_block_comment_at_first_column = false
ij_xml_keep_blank_lines = 1
ij_xml_line_comment_at_first_column = false
ij_xml_text_wrap = off

[gradle/verification-metadata.xml]
end_of_line = unset
indent_size = 3
